<%
var pageData = {
  pageTitle: "first",
  key: "index"
}
%>

<!DOCTYPE html>
<html lang="ja">
  <%- include('./_partial/head', pageData) %>
<body>
  <script src="js/touch-test.js"></script>
</body>
</html>
